<h1 mat-dialog-title>{{ data.title }}</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ng-container *ngFor="let field of data.fields">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>{{ field.label }}</mat-label>

      <input
        *ngIf="field.type !== 'textarea'"
        matInput
        [type]="field.type"
        [formControlName]="field.name"
        [required]="!!field.required"
      />
      <textarea
        *ngIf="field.type === 'textarea'"
        matInput
        [formControlName]="field.name"
        [required]="!!field.required"
      ></textarea>
    </mat-form-field>
    <!-- Error Message -->
    <mat-error
      *ngIf="
        form.get(field.name)?.hasError('required') &&
        (form.get(field.name)?.touched || form.get(field.name)?.dirty)
      "
    >
      {{ field.label }} is required
    </mat-error>
  </ng-container>

  <div mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">Cancle</button>
    <button mat-flat-button color="primary" type="submit">Submit</button>
  </div>
</form>
