@if(!isLoadingInvoicesDirect()){
  <div class="parent-container">
  <!-- page header -->
  <app-page-header
    [title]="pageTitle"
    [breadcrumb]="breadcrumb"
  ></app-page-header>

  <!-- count card -->
  <app-count-card [stats]="statsCards()"></app-count-card>

  <!-- search and dropdown -->
  <div class="search-container border-gradient">
    <form [formGroup]="filterForm" (ngSubmit)="onFilterSubmit()">
      <div class="form-grid-search">
        <div class="form-field">
          <app-dropdown
            [options]="paymentMethods"
            [selectedOption]="selectedPaymentMethod()"
            [label]="'اختر طريقة الدفع'"
            (optionSelected)="onPaymentMethodChange($event)"
          ></app-dropdown>
        </div>
        <div class="form-field">
          <label>من</label>
          <input
            type="date"
            formControlName="fromDate"
            class="form-input"
            placeholder="ابحث عن تاريخ بدأ الفاتورة"
            (change)="onDateFilterChange()"
          />
        </div>

        <div class="form-field">
          <label>الي</label>
          <input
            type="date"
            formControlName="toDate"
            class="form-input"
            placeholder="ابحث عن تاريخ نهاية الفاتورة"
            (change)="onDateFilterChange()"
          />
        </div>

        <app-search-input
          [placeholder]="searchPlaceholder"
          [hasData]="hasData()"
          (search)="onSearch($event)"
        ></app-search-input>
      </div>
    </form>
  </div>
  <!-- table -->
  <div class="table-container mt-md">
    <app-table
      [data]="filteredInvoices()"
      [columns]="tableColumns()"
      [showIndex]="true"
      [showView]="true"
      [selectedRows]="selectedRows()"
      [showDataTable]="true"
      [actionTitles]="{
        add: 'إضافة دفعة جديدة',
        edit: 'تعديل بيانات الدفعة',
      }"
      [hasNoData]="hasNoInvoices()"
      [pageSize]="pageSize()"
      [currentPage]="currentPage()"
      [totalCount]="totalCount()"
      (view)="onShowTablePayments($event)"
      (pageChange)="onPageChange($event)"
      (pageSizeChange)="onPageSizeChange($event)"
      [noDataMessage]="'لا يوجد فواتير متاحة حاليا'"
    ></app-table>
  </div>
  <!-- payment table -->
  <ng-container *ngIf="showTablePayments()">
    <!-- cash payments -->
    <ng-container *ngIf="hasCashPayments()">
      <h2 class="title-payments">الدفعات النقدية</h2>
      <app-table
        [data]="cashPayments()"
        [columns]="paymentsCashColumns()"
        [showDataTable]="true"
        [showIndex]="true"
        [hasNoData]="cashPayments().length === 0"
      ></app-table>
    </ng-container>
    <!-- bank transfer payments -->
    <ng-container *ngIf="hasBankTransferPayments()">
      <h2 class="title-payments">الدفعات البنكية</h2>
      <app-table
        [data]="bankTransferPayments()"
        [columns]="paymentsBankTransferColumns()"
        [showDataTable]="true"
        [showIndex]="true"
        [hasNoData]="bankTransferPayments().length === 0"
      ></app-table>
    </ng-container>
    <!-- visa payments -->
    <ng-container *ngIf="hasVisaPayments()">
      <h2 class="title-payments">دفعات البطاقة الائتمانية</h2>
      <app-table
        [data]="visaPayments()"
        [columns]="paymentsVisaColumns()"
        [showDataTable]="true"
        [showIndex]="true"
        [hasNoData]="visaPayments().length === 0"
      ></app-table>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="showTablePayments()">
    <!-- if no payments show empty table -->
    <ng-container
      *ngIf="
        !hasCashPayments() && !hasBankTransferPayments() && !hasVisaPayments()
      "
    >
      <app-table
        [data]="[]"
        [columns]="[]"
        [showDataTable]="true"
        [hasNoData]="true"
        [noDataMessage]="'لا توجد بيانات دفعات لعرضها'"
      ></app-table>
    </ng-container>
  </ng-container>
</div>

}