<!------------------------------------- Header Section ------------------------->
<div class="dashboard-header">
  <h5>Overview</h5>
</div>

<!--------------- Stats Grid ------------------>
<div class="stats-grid">
  <div class="stat-card">
    <div class="stat-card-content">
      <h3>Total Campanys</h3>
      <p>23</p>
    </div>
    <i class="bi bi-buildings"></i>
  </div>
  <div class="stat-card">
    <div class="stat-card-content">
      <h3>Total Contacts</h3>
      <p>88.12K</p>
    </div>
    <i class="bi bi-person-lines-fill"></i>
  </div>
  <div class="stat-card">
    <div class="stat-card-content">
      <h3>Total Clients</h3>
      <p>7</p>
    </div>
    <i class="bi bi-person"></i>
  </div>
  <div class="stat-card">
    <div class="stat-card-content">
      <h3>Total Leads</h3>
      <p>23</p>
    </div>
    <i class="bi bi-person-fill-add"></i>
  </div>
  <div class="stat-card">
    <div class="div stat-card-content">
      <h3>Total Source Countries</h3>
      <p>88.12K</p>
    </div>
    <i class="bi bi-globe-americas"></i>
  </div>
  <div class="stat-card">
    <div class="stat-card-content">
      <h3>Total Industries</h3>
      <p>7</p>
    </div>
    <i class="bi bi-building"></i>
  </div>
</div>
