.notes-title {
  padding: 5px;
  color: var(--white-color);
}
.note-form form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.note-form textarea {
  width: 60%;
  height: 50px;
  border: 1px solid var(--border-color);
}
.note-form input {
  padding: 13px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--bg-light);
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
  &:focus {
    outline: none;
    border-color: var(--primary-color);
  }
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1);
}
/* --------------------- note list ------------------ */
.notes-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.notes-list .note-item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: 500;

  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(70, 227, 255, 0.1);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  animation: fadeInCard 0.6s ease-out both;
}
.notes-list .note-item:hover {
  border-color: var(--border-color);
  background: rgba(70, 227, 255, 0.05);
  transform: translateX(5px) !important;
}
.notes-list .note-item .notes-list-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover {
    color: var(--primary-color-dark);
  }
}
