<div class="parent">
  <div class="section">
    <div class="logo">
      <img src="assets/logo.svg" alt="logo Zawolf" loading="lazy" />
    </div>
    <h2>نسيت كلمة المرور</h2>
    <p>يمكنك إستعادة كلمة المرور الخاصة بك من هنا .</p>
    <form class="form-login" (ngSubmit)="onSubmit()">
      <!-- input user name  -->
      <div class="form-login">
        <label for="name">البريد الالكتروني او اسم الهاتف</label>
        <input
          id="name"
          type="text"
          name="login"
          placeholder="ادخل البريد الإلكتروني أو رقم الهاتف"
          required
        />
        <small class="error">
          <!-- {{ fieldErrors["login"] }} -->
        </small>
      </div>

      <button type="submit">إعادة تعيين كلمة المرور</button>

      <p class="error"></p>
    </form>
  </div>
</div>
