<header class="header">
  <div class="user-profile">
    <button class="menu-btn" (click)="toggleSidebar()">
      <mat-icon>{{ isSidebarOpen ? "close" : "menu" }}</mat-icon>
    </button>

    <div class="user-details">
      <span class="user-name">{{ getUserName() }}</span>
      <span class="user-email">{{
        getUserEmail() || "لا يوجد بريد إلكتروني"
      }}</span>
    </div>
    <div class="avatar-circle" *ngIf="getFirstNameChar()">
      <span class="avatar-text">{{ getFirstNameChar() }}</span>
    </div>
  </div>

  <div class="header-left">
    <button class="logout-btn" (click)="logout()">تسجيل خروج</button>
  </div>
</header>
