<div class="shift-section">
  <h2 class="shift-title">شيفت صباحي</h2>
  <div class="cards-container">
    <!-- permission -->
    <div class="card">
      <div class="card-icon"></div>
      <div class="card-value">1</div>
      <div class="card-label">إذن</div>
    </div>
    <div class="card">
      <div class="card-icon"></div>
      <div class="card-value">33</div>
      <div class="card-label">في الموقع</div>
    </div>
    <div class="card">
      <div class="card-icon"></div>
      <div class="card-value">1</div>
      <div class="card-label">متأخر عن الموقع</div>
    </div>
    <div class="card">
      <div class="card-icon"></div>
      <div class="card-value">0</div>
      <div class="card-label">من المنزل</div>
    </div>

    <div class="card">
      <div class="card-icon"></div>
      <div class="card-value">0</div>
      <div class="card-label">متأخر من المنزل</div>
    </div>
    <!--  -->
    <div class="card absent">
      <div class="card-icon"></div>
      <div class="card-value">5</div>
      <div class="card-label">غائب</div>
    </div>
    <div class="card">
      <div class="card-icon"></div>
      <div class="card-value">42</div>
      <div class="card-label">الموظفون</div>
    </div>
  </div>
</div>
