@if(!isLoading()){
<section class="dashboard-info">
  <!-- page header -->
  <app-page-header
    [title]="pageTitle"
    [breadcrumb]="breadcrumb"
  ></app-page-header>

  <!-- Content (shown when data is loaded) -->
    <app-count-card [stats]="stats()"></app-count-card>
    <app-first-charts></app-first-charts>

    <!-- ==================================== GetTransferredLeadsToSales ============================ -->
    <div class="table-container">
      <app-table
        [data]="transferredLeads()"
        [columns]="transferredLeadsColumns"
        [showIndex]="true"
      >
      </app-table>
    </div>

    <!-- best 3 TeleSales -->
<app-top-employee-card
  [topPeople]="topTeleSales()"
  [title]="'Best 3 TeleSales'"
  [currency]="'ج.م'"
  [showBudget]="false"
></app-top-employee-card>
 
</section>
}