<div class="parent-container">
  <!-- page header -->
  <app-page-header
    [title]="pageTitle"
    [breadcrumb]="breadcrumb"
  ></app-page-header>

  <div class="container-details">
    <div class="personal-details">
      <!------- header details -------->
      @if (isLoading) {
      <div class="loading-state">جاري التحميل...</div>
      } @else if (details) {
      <div class="header responsive-card-center">
        <div class="parent-img">
          <img src="assets/img/avatar-male.svg" alt="avatar image" />
        </div>
        <h3 class="name">{{ details.clientName || "غير متوفر" }}</h3>
        <p class="company">الشركة: {{ details.companyName || "غير متوفر" }}</p>
        <p class="position">المصدر: {{ details.leadSource || "غير متوفر" }}</p>
      </div>
      }
      <!------- main details -------->
      <div class="parent-main">
        <div class="row">
          <h3 class="title-section">المعلومات الاساسية</h3>
          <i class="bi bi-pencil-square edit-icon"></i>
        </div>
        <!-- phone number -->
        <div class="row">
          <div class="right-content">
            <div class="icon-wrapper"><i class="bi bi-phone"></i></div>
            <p>رقم الهاتف</p>
          </div>
          <p class="left-content">{{ details?.phoneNumber || "غير متوفر" }}</p>
        </div>
        <!-- email address -->
        <div class="row">
          <div class="right-content">
            <div class="icon-wrapper">
              <i class="bi bi-envelope-fill"></i>
            </div>
            <p>البريد الالكتروني</p>
          </div>
          <p class="left-content">{{ details?.emailAddress || "غير متوفر" }}</p>
        </div>
        <!--  gender -->
        <div class="row">
          <div class="right-content">
            <div class="icon-wrapper">
              <i class="bi bi-gender-ambiguous"></i>
            </div>
            <p>الجنس</p>
          </div>
          <p class="left-content">{{ getGenderText(details?.gender || "") }}</p>
        </div>
        <!-- age -->
        <div class="row">
          <div class="right-content">
            <div class="icon-wrapper">
              <i class="bi bi-calendar2"></i>
            </div>
            <p>العمر</p>
          </div>
          <p class="left-content">
            {{ details?.age ? details?.age + " سنة" : "غير متوفر" }}
          </p>
        </div>
        <!-- address -->
        <div class="row">
          <div class="right-content">
            <div class="icon-wrapper">
              <i class="bi bi-geo-alt"></i>
            </div>
            <p>العنوان</p>
          </div>
          <p class="left-content">
            {{ details?.city || "غير متوفر" }}, {{ details?.country || "" }}
          </p>
        </div>
      </div>
      <!------- second details -------->
      <div class="second-main">
        <div class="row">
          <h3 class="title-section">معلومات الاضافية</h3>
        </div>
        <!--  language  -->
        <div class="row">
          <div class="right-content">
            <div class="icon-wrapper">
              <i class="bi bi-translate"></i>
            </div>
            <p>اللغة</p>
          </div>
          <p class="left-content">
            {{
              details?.language === "ar"
                ? "عربي"
                : details?.language || "غير متوفر"
            }}
          </p>
        </div>
        <!--  last update  -->
        <div class="row">
          <div class="right-content">
            <div class="icon-wrapper">
              <i class="bi bi-clock"></i>
            </div>
            <p>اخر تحديث</p>
          </div>
          <p class="left-content">
            {{ formatDate(details?.lastupdate || "") }}
          </p>
        </div>
        <!--  source -->
        <div class="row">
          <div class="right-content">
            <div class="icon-wrapper">
              <i class="bi bi-cart-check"></i>
            </div>
            <p>المصدر</p>
          </div>
          <p class="left-content">{{ details?.leadSource || "غير متوفر" }}</p>
        </div>
        <!--  company email -->
        @if (details?.companyEmail) {
        <div class="row">
          <div class="right-content">
            <div class="icon-wrapper">
              <i class="bi bi-building"></i>
            </div>
            <p>بريد الشركة</p>
          </div>
          <p class="left-content">{{ details?.companyEmail }}</p>
        </div>
        }
      </div>
      <!------- social media details -------->
      <div class="container-social-media">
        <div class="icon-wrapper">
          <i class="bi bi-linkedin"></i>
        </div>

        <div class="icon-wrapper">
          <i class="bi bi-facebook"></i>
        </div>

        <div class="icon-wrapper">
          <i class="bi bi-twitter-x"></i>
        </div>

        <div class="icon-wrapper">
          <i class="bi bi-globe"></i>
        </div>

        <div class="icon-wrapper">
          <i class="bi bi-chat-left-text"></i>
        </div>

        <div class="icon-wrapper">
          <i class="bi bi-envelope"></i>
        </div>

        <div class="icon-wrapper">
          <i class="bi bi-telephone-fill"></i>
        </div>
      </div>
    </div>
    <!---------------------------------------- content details ---------------------------------------->
    <div class="content-details">
      <!-- container tab -->
      <div class="container-tab">
        <img
          src="./assets/charcter-ninja.svg"
          alt="logo"
          class="logo-tab"
          [class.jump]="isJumping"
          [style.left]="ninjaPosition.left"
          [style.top]="ninjaPosition.top"
        />
        <button
          #tabButton
          class="tab-button"
          routerLink="activiteis"
          routerLinkActive="active"
        >
          الانشطة
        </button>
        <button
          #tabButton
          class="tab-button"
          routerLink="notes"
          routerLinkActive="active"
        >
          الملاحظات
        </button>
        <button
          #tabButton
          class="tab-button"
          routerLink="calls"
          routerLinkActive="active"
        >
          المكالمات
        </button>
        <button
          #tabButton
          class="tab-button"
          routerLink="files"
          routerLinkActive="active"
        >
          الملفات
        </button>
        <button
          #tabButton
          class="tab-button"
          routerLink="mails"
          routerLinkActive="active"
        >
          رسائل الايميل
        </button>
      </div>
      <div class="container-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
