<div class="parent-container">
  <!-- page header -->
  <app-page-header
    [title]="pageTitle"
    [breadcrumb]="breadcrumb"
  ></app-page-header>

  <div class="container-details">
    <div class="personal-details">
      <!------- header details -------->
      <div class="header responsive-card-center">
        <div class="parent-img">
          <img src="assets/img/avatar-male.svg" alt="avatar image" />
        </div>
        <h3 class="name">الاسم</h3>
        <p class="company">الشركه</p>
        <p class="position">frot end</p>
      </div>
      <!------- main details -------->
      <div class="parent-main">
        <div class="row">
          <h3>المعلومات الاساسية</h3>
          <i class="bi bi-pencil-square"></i>
        </div>
        <!-- phone number -->
        <div class="row">
          <div class="left-content">
            <i class="bi bi-phone"></i>
            <p>رقم الهاتف</p>
          </div>
          <p class="right-content">0123456789</p>
        </div>
        <!-- email address -->
        <div class="row">
          <div class="left-content">
            <i class="bi bi-envelope"></i>
            <p>البريد الالكتروني</p>
          </div>
          <p class="right-content">exampleexample.com</p>
        </div>
        <!--  gender -->
        <div class="row">
          <div class="left-content">
            <i class="bi bi-gender-ambiguous"></i>
            <p>الجنس</p>
          </div>
          <p class="right-content">ذكر</p>
        </div>
        <!-- date of birth  -->
        <div class="row">
          <div class="left-content">
            <i class="bi bi-calendar2"></i>
            <p>عيد الميلاد</p>
          </div>
          <p class="right-content">2 augh 2000</p>
        </div>
        <!-- address -->
        <div class="row">
          <div class="left-content">
            <i class="bi bi-geo-alt"></i>
            <p>العنوان</p>
          </div>
          <p class="right-content">الرياض, المملكة العربية السعودية</p>
        </div>
      </div>
      <!------- second details -------->
      <div class="second-main">
        <div class="row">
          <h3>معلومات الاضافية</h3>
        </div>
        <!--  language  -->
        <div class="row">
          <div class="left-content">
            <i class="bi bi-translate"></i>
            <p>اللغة</p>
          </div>
          <p class="right-content">عربي</p>
        </div>
        <!--  last update  -->
        <div class="row">
          <div class="left-content">
            <i class="bi bi-clock"></i>
            <p>اخر تحديث</p>
          </div>
          <p class="right-content">6 مايو 2025</p>
        </div>
        <!--  source -->
        <div class="row">
          <div class="left-content">
            <i class="bi bi-source"></i>
            <p>المصدر</p>
          </div>
          <p class="right-content">حملة مدفوعة</p>
        </div>
      </div>
      <!------- social media details -------->
      <div class="social-media">
        <div class="container-social">
          <div class="icon-social">
            <i class="bi bi-linkedin"></i>
          </div>
        </div>
        <div class="icon-social">
          <i class="bi bi-facebook"></i>
        </div>

        <div class="icon-social">
          <i class="bi bi-twitter-x"></i>
        </div>

        <div class="icon-social">
          <i class="bi bi-globe"></i>
        </div>

        <div class="icon-social">
          <i class="bi bi-chat-left-text"></i>
        </div>

        <div class="icon-social">
          <i class="bi bi-envelope"></i>
        </div>

        <div class="icon-social">
          <i class="bi bi-telephone-fill"></i>
        </div>
      </div>
    </div>
    <div class="content-details">contant details</div>
  </div>
</div>
