:root {
  /* Colors */
  --primary-color: #46e3ff;
  --primary-color-dark: #2A8899;
  --secondary-color: #51c09e;
  /* --secondary-color: #2debfc; */
  --bg-light: rgba(17, 24, 31, 0.8);
  --bg-dark: #172431;
  --bg-color: var(--bg-dark);
  /*********** input ***********/
  --bg-text-input: #ddd;
  --bg-border-input: #46e3ff;
  --bg-input-focus: #51c09e;
  --bg-error: #ff4444;
  /******** table *************/
  --bg-table-header: linear-gradient(
    180deg,
    #008299 0%,
    #002b33 20%,
    #002b33 80%,
    #008299 100%
  );
  --table-bg-dark: rgba(17, 24, 31, 0.2);
  --table-bg-light: rgba(17, 24, 31, 0.8);

  --bg-image: url("../assets/main-bg.jpg");

  --white-color: #f2f2f2;
  --link-color: #fff;
  --button-hover-color: linear-gradient(90deg, #008299 0%, #002b33 100%);

  --card-bg: #ffffff;
  --accent-color: #ff5f00;

  /* ========== Text Colors ========== */
  --text-color: #fff;
  --text-muted: #64748b;

  /* ========== Border Colors ========== */
  --border-color: #46e3ff;
  --secondary-border-color: #51c09e;
  --border-dark: #404040;

  /* ========== Input Colors ========== */
  --input-bg: rgba(0, 0, 0, 20%);
  --input-border: #1e483d;
  --input-focus: #51c09e;

  /* ========== Button Colors ========== */
  --button-color: #2a8899;
  --button-hover: #46e3ff;
  --button-hover-shadow: 0 0 5px 3px var(--button-hover);

  /* ========== Navbar Colors ========== */
  --navbar-bg: #ffffff;
  --navbar-text: #1e293b;

  /* ========== Sidebar Colors ========== */
  --sidebar-bg: #0f0e0d;
  --sidebar-text: #e2e8f0;
  --sidebar-width: 280px;
}
