<div class="header-container">
  <h2 class="header-color">الاقسام</h2>
  <button mat-raised-button class="button-color" (click)="openDialog()">
    اضافة قسم
    <i class="bi bi-plus-square"></i>
  </button>
</div>

<ng-container *ngIf="departments$ | async as departments">
  <app-table
    [columns]="columns"
    [data]="departments"
    [total]="(totalCount$ | async) || 0"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    (pageChange)="onPageChange($event)"
    (sortChange)="onSortChange($event)"
    (search)="onSearch($event)"
    (edit)="onEditDepartment($event)"
    [showEdit]="false"
    (delete)="onDeleteDepartment($event)"
  >
  </app-table>

  <div class="no-data-alert" *ngIf="departments.length === 0">
    {{ searchKeyword ? "لا يوجد نتائج بحث." : "لا توجد أقسام حالياً." }}
  </div>
</ng-container>
