<div class="d-flex justify-content-between align-items-center mb-2">
  <h2>Departments</h2>
  <button mat-raised-button color="primary" (click)="openDialog()">
    Add Department
  </button>
</div>

<ng-container *ngIf="departments$ | async as departments">
  <app-table
    [columns]="columns"
    [data]="departments"
    [total]="(totalCount$ | async) || 0"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    (pageChange)="onPageChange($event)"
    (sortChange)="onSortChange($event)"
    (edit)="onEditDepartment($event)"
    (delete)="onDeleteDepartment($event)"
  >
  </app-table>

  <div class="alert alert-warning mt-3" *ngIf="departments.length === 0">
    لا توجد أقسام حالياً.
  </div>
</ng-container>
