<div class="step-form">
  <!-- <h3 class="step-title">وسائل التواصل الاجتماعي</h3> -->

  <div class="form-grid">
    <!-- Right Column -->
    <div class="form-column">
      <div class="form-group">
        <label class="form-label">تويتر</label>
        <input
          type="text"
          class="form-input"
          formControlName="twitter"
          placeholder="ادخل إسم المستخدم على تويتر"
        />
      </div>

      <div class="form-group">
        <label class="form-label">سكايب</label>
        <input
          type="text"
          class="form-input"
          formControlName="skype"
          placeholder="ادخل إسم المستخدم على سكايب"
        />
      </div>

      <div class="form-group">
        <label class="form-label">إنستجرام</label>
        <input
          type="text"
          class="form-input"
          formControlName="instagram"
          placeholder="ادخل إسم المستخدم على إنستجرام"
        />
      </div>

      <div class="form-group">
        <label class="form-label">سناب شات</label>
        <input
          type="text"
          class="form-input"
          formControlName="snapchat"
          placeholder="إدخل إسم المستخدم على سناب شات"
        />
      </div>

      <div class="form-group">
        <label class="form-label">الموقع الإلكتروني</label>
        <input
          type="url"
          class="form-input"
          formControlName="website"
          placeholder="رابط الموقع"
        />
      </div>
    </div>

    <!-- Left Column -->
    <div class="form-column">
      <div class="form-group">
        <label class="form-label">فيسبوك</label>
        <input
          type="text"
          class="form-input"
          formControlName="facebook"
          placeholder="ادخل إسم المستخدم على فيسبوك"
        />
      </div>

      <div class="form-group">
        <label class="form-label">لينكد إن</label>
        <input
          type="text"
          class="form-input"
          formControlName="linkedin"
          placeholder="ادخل إسم المستخدم علي لينكد إن"
        />
      </div>

      <div class="form-group">
        <label class="form-label">واتساب</label>
        <input
          type="text"
          class="form-input"
          formControlName="whatsapp"
          placeholder="إدخل رقم الواتساب"
        />
      </div>

      <div class="form-group">
        <label class="form-label">تيك توك</label>
        <input
          type="url"
          class="form-input"
          formControlName="tiktok"
          placeholder="رابط الملف الشخصي"
        />
      </div>
    </div>
  </div>
</div>
