@if(!isloading()){
  <section class="dashboard-info">
  <h1 class="welcome-section">
    مرحباً بك <span>{{ userInfo().name || "المستخدم" }}</span> في لوحة تحكم -
    TeleSalse
  </h1>
  <!-- count card -->
  <app-count-card [stats]="dashboardData.stats()"></app-count-card>
  <!-- search and dropdown -->
  <app-telesales-filter
    [searchPlaceholder]="searchPlaceholder"
    [listLeadStatus]="dashboardData.listLeadStatus()"
    [countryNames]="countryNames()"
    [cityNames]="cityNames()"
    [actionDateFilterLabels]="actionDateFilterLabels()"
    [searchTerm]="searchTerm()"
    [selectedLeadStatusName]="selectedLeadStatusName()"
    [selectedCountry]="selectedCountry()"
    [selectedCity]="selectedCity()"
    [selectedActionDateFilter]="selectedActionDateFilter()"
    (searchChange)="onSearch($event)"
    (leadStatusChange)="onOptionSelected($event)"
    (countryChange)="onCountrySelected($event)"
    (cityChange)="onCitySelected($event)"
    (actionDateFilterChange)="onActionDateFilterSelected($event)"
    (resetFilters)="onResetFilters()"
  ></app-telesales-filter>
  <!-- table -->
  <div class="table-container table-responsive" [ngClass]="tableContainerClass()">
    <app-table
      *ngIf="!loadingLeads() && !isSearching()"
      [data]="leadsList()"
      [columns]="columns"
      [pageSize]="pageSize()"
      [currentPage]="currentPage()"
      [totalCount]="totalCount()"
      [showDataTable]="true"
      [hasNoData]="leadsList().length === 0"
      [showIndex]="true"
      [showView]="true"
      [showAdd]="true"
      [showEdit]="false"
      [showDelete]="false"
      [showChat]="false"
      [showEmail]="true"
      [showCall]="true"
      [showNote]="true"
      [showMeeting]="true"
      [showFollowUp]="true"
      [actionLabels]="actionLabels"
      [leadStatusOptions]="dashboardData.leadStatusOptions()"
      [leadStatusColorMap]="leadStatusColorMap()"
      [alwaysEditLeadStatus]="true"
      [actionDisplayMode]="actionDisplayMode"
      (pageChange)="onPageChange($event)"
      (pageSizeChange)="onPageSizeChange($event)"
      (view)="onView($event)"
      (addButtonClick)="onAddButtonClick($event)"
      (edit)="onEdit($event)"
      (note)="onNote($event)"
      (call)="onCall($event)"
      (email)="onEmail($event)"
      (meeting)="onMeeting($event)"
      (followUp)="onFollowUp($event)"
      (leadStatusClick)="onEdit($event)"
      (statusChange)="onStatusChange($event.row, $event.status)"
      (saveLeadStatus)="saveLeadStatus($event)"
      (cancelLeadStatus)="cancelLeadStatus($event)"
    ></app-table>
  </div>

  <!--------------------------- Notifications and Recent Interactions ----------------------->
  <div class="notifications-interactions-container">
    <!-- Recent Interactions Panel -->
    <app-recent-interactions
      [recentInteractions]="recentInteractions()"
      [loadingRecentInteractions]="loadingRecentInteractions()"
    >
    </app-recent-interactions>

    <!-- notifications panel -->
    <app-notification-card
      [notifications]="notifications()"
      [loadingNotifications]="loadingNotifications()"
    >
    </app-notification-card>
  </div>
</section>
}