<div class="parent">
  <div class="section">
    <div class="logo">
      <img src="assets/logo.svg" alt="logo ZaWolf" loading="lazy" />
    </div>
    <h2>إعادة تعيين كلمة المرور</h2>
    <form class="form-login" (ngSubmit)="onSubmit()">
      <!-- input password  -->
      <div class="form-login">
        <label for="password">كلمة المرور</label>

        <div class="password-wrapper">
          <input
            id="password"
            [type]="showPassword ? 'text' : 'password'"
            name="password"
            placeholder="ادخل كلمة المرور"
            required
          />
          <i
            class="bi bi-eye-fill toggle-password"
            (click)="togglePassword()"
          ></i>
        </div>

        <small class="error">
          <!-- {{ fieldErrors["password"] }} -->
        </small>
      </div>

      <!-- input confirm password  -->
      <div class="form-login">
        <label for="password">تأكيد كلمة المرور</label>

        <div class="password-wrapper">
          <input
            id="password"
            [type]="showConfirmPassword ? 'text' : 'password'"
            name="password"
            placeholder="تاكيد كلمة المرور"
            required
          />
          <i
            class="bi bi-eye-fill toggle-password"
            (click)="toggleConfirmPassword()"
          ></i>
        </div>

        <small class="error">
          <!-- {{ fieldErrors["password"] }} -->
        </small>
      </div>

      <button type="submit">إعادة تعيين كلمة المرور</button>

      <p class="error"></p>
    </form>
  </div>
</div>
