.parent {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/background-login.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.section {
  width: 450px;
  height: 600px;
  border-radius: 33.37px;
  border-width: 2px;
  background-color: rgb(11, 6, 6, 69%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 0.8s ease-in-out;
  backdrop-filter: blur(5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}
/* 
.logo {
  width: 2px;
  height: 110px;
  margin: 5px auto;
} */
.logo img {
  margin: 10px;
  width: 180px !important;
  height: 70px !important;
  background-size: cover;
}
h2 {
  color: var(--white-color);
}
.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-login label {
  width: 350px;
  font-size: 15px;
  display: block;
  color: var(--white-color);
}
.form-login input {
  width: 350px;
  height: 55px;
  padding: 12px 15px;
  margin: 5px 0px;
  border: 2px solid #ffc983;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s ease;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.form-login input:focus {
  border: 2px solid #f3a546;
}

.form-login input::placeholder,
.password-wrapper input::placeholder {
  color: #fff;
  opacity: 1;
}
.password-wrapper {
  position: relative;
  width: 350px;
}

.password-wrapper input {
  width: 100%;
  height: 55px;
  padding-left: 20px;
  border: 2px solid #ffc983;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.password-wrapper .toggle-password {
  position: absolute;
  top: 50%;
  left: 15px; /* stick to the right inside the input */
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  color: rgba(227, 96, 18, 1); /* adjust to be visible on dark background */
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.password-wrapper .toggle-password:hover {
  opacity: 1;
}
/* Hide Edge's native reveal eye in all password fields */
input[type="password"]::-ms-reveal {
  display: none;
}

button {
  width: 350px;
  height: 50px;
  font-size: 18px;
  color: var(--white-color);
  background-color: var(--button-color);
  transition: 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(227, 96, 18, 0.5);
}

.error {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 100px;
  text-align: right;
  color: red;
  /* background: #ff6b6b; */
}

@media (max-width: 768px) {
  .parent {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
