.parent {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/background-login.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.section {
  width: 450px;
  height: 500px;
  border-radius: 33.37px;
  border-width: 2px;
  background-color: rgb(11, 6, 6, 69%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadeIn 0.8s ease-in-out;
  backdrop-filter: blur(5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}
.logo img {
  margin: 10px;
  width: 180px !important;
  height: 70px !important;
  background-size: cover;
}
h2,
p {
  color: var(--white-color);
}

p {
  width: 80%;
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: #ffc983;
}
.form-login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form-login label {
  width: 350px;
  font-size: 15px;
  display: block;
  color: var(--white-color);
}

.otp-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
  flex-direction: row-reverse;
}

.otp-input {
  width: 50px;
  height: 60px;
  font-size: 24px;
  text-align: center;
  border: 2px solid #ffc983;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.otp-input:focus {
  border-color: #f3a546;
  outline: none;
}

.form-login input:focus {
  border: 2px solid #f3a546;
}

.form-login input::placeholder {
  color: #fff;
  opacity: 1;
}

.check-group p {
  color: var(--white-color);
}

button {
  width: 350px;
  height: 50px;
  font-size: 18px;
  color: var(--white-color);
  background-color: var(--button-color);
  transition: 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(227, 96, 18, 0.5);
}

.error {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px 100px;
  text-align: right;
  color: red;
}

@media (max-width: 768px) {
  .parent {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
