<div class="header-container">
  <h2 class="header-color">العملاء</h2>
  <div class="parent-icon">
    <button mat-raised-button>
      <img src="assets/icon/lets-icons_export.svg" alt="" />
    </button>
    <button mat-raised-button>
      <img src="assets/icon/mdi_import.svg" alt="" />
    </button>
    <button mat-raised-button (click)="openDialog()">
      <img src="assets/icon/material-symbols_add.svg" alt="" />
    </button>
  </div>
</div>

<form
  [formGroup]="form"
  class="filters"
  style="display: flex; gap: 12px; flex-wrap: wrap"
>
  <div class="parent-search">
    <div class="search-box">
      <input type="text" placeholder="بحث..." formControlName="search" />
      <mat-icon class="search-icon">search</mat-icon>
    </div>

    <div class="filter-top">
      <div class="field select-wrapper">
        <select formControlName="country">
          <option value="">اختر الدولة</option>
          <option
            *ngFor="let c of countries$ | async"
            [ngValue]="c.clientLocation"
          >
            {{ c.clientLocation }} ({{ c.count }})
          </option>
        </select>
      </div>

      <div class="field select-wrapper">
        <select formControlName="city">
          <option value="">المدينة</option>
          <option *ngFor="let r of cities$ | async" [ngValue]="r">
            {{ r }}
          </option>
        </select>
      </div>
      <div class="field select-wrapper">
        <select formControlName="company">
          <option value="">الشركه</option>
          <option
            *ngFor="let s of companies$ | async"
            [ngValue]="s.sourceCompany"
          >
            {{ s.sourceCompany }}
          </option>
        </select>
      </div>
      <div class="field select-wrapper">
        <select formControlName="channel">
          <option value="">القناة</option>
          <option
            *ngFor="let ch of channels$ | async"
            [ngValue]="ch.entryChannel"
          >
            {{ ch.entryChannel }}
          </option>
        </select>
      </div>

      <div class="field select-wrapper">
        <select formControlName="source">
          <option value="">مصدر العميل</option>
          <option
            *ngFor="let s of campSources$ | async"
            [ngValue]="s.clientWebsite"
          >
            {{ s.clientWebsite }}
          </option>
        </select>
      </div>

      <button
        mat-stroked-button
        type="button"
        (click)="resetFilters()"
        class="button-color"
      >
        إعادة تعيين
      </button>
    </div>
  </div>
</form>

<table
  mat-table
  [dataSource]="(clients$ | async) || []"
  matSort
  (matSortChange)="onSortChange($event)"
  class="table-wrapper mat-elevation-z8 hover-elevate"
  style="width: 100%; margin-top: 12px"
>
  <ng-container matColumnDef="clientName">
    <th mat-header-cell *matHeaderCellDef>العميل</th>
    <td mat-cell *matCellDef="let r">{{ r.clientName }}</td>
  </ng-container>

  <ng-container matColumnDef="clientPhone">
    <th mat-header-cell *matHeaderCellDef>الهاتف</th>
    <td mat-cell *matCellDef="let r">{{ r.clientPhone }}</td>
  </ng-container>

  <ng-container matColumnDef="requestType">
    <th mat-header-cell *matHeaderCellDef>نوع الطلب</th>
    <td mat-cell *matCellDef="let r">{{ r.requestType }}</td>
  </ng-container>

  <ng-container matColumnDef="entryCampaign">
    <th mat-header-cell *matHeaderCellDef>مصدر الحملة</th>
    <td mat-cell *matCellDef="let r">{{ r.entryCampaign }}</td>
  </ng-container>

  <ng-container matColumnDef="sourceCompany">
    <th mat-header-cell *matHeaderCellDef>مصدر الشركة</th>
    <td mat-cell *matCellDef="let r">{{ r.sourceCompany }}</td>
  </ng-container>

  <ng-container matColumnDef="clientCategory">
    <th mat-header-cell *matHeaderCellDef>التصنيف</th>
    <td mat-cell *matCellDef="let r">{{ r.clientCategory }}</td>
  </ng-container>

  <ng-container matColumnDef="entryChannel">
    <th mat-header-cell *matHeaderCellDef>مصدر القناة</th>
    <td mat-cell *matCellDef="let r">{{ r.entryChannel }}</td>
  </ng-container>

  <ng-container matColumnDef="region">
    <th mat-header-cell *matHeaderCellDef>المدينة</th>
    <td mat-cell *matCellDef="let r">{{ r.region }}</td>
  </ng-container>

  <ng-container matColumnDef="clientLocation">
    <th mat-header-cell *matHeaderCellDef>الدولة</th>
    <td mat-cell *matCellDef="let r">{{ r.clientLocation || "-" }}</td>
  </ng-container>

  <ng-container matColumnDef="createdAt">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ الإنشاء</th>
    <td mat-cell *matCellDef="let r">{{ r.createdAt | date : "short" }}</td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="[
      'clientName',
      'clientPhone',
      'requestType',
      'entryCampaign',
      'sourceCompany',
      'clientCategory',
      'clientLocation',
      'entryChannel',
      'region',
      'createdAt'
    ]"
  ></tr>
  <tr
    mat-row
    *matRowDef="
      let row;
      columns: [
        'clientName',
        'clientPhone',
        'requestType',
        'entryCampaign',
        'sourceCompany',
        'clientCategory',
        'clientLocation',
        'entryChannel',
        'region',
        'createdAt'
      ]
    "
  ></tr>
</table>

<mat-paginator
  [length]="(totalCount$ | async) ?? 0"
  [pageIndex]="0"
  [pageSize]="10"
  [pageSizeOptions]="[10, 20, 50, 100, 500, 1000]"
  (page)="onPageChange($event)"
  style="margin-top: 8px"
>
</mat-paginator>
