



.container {
  margin-top: 100px;
}

.steps {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}


.step {
  text-align: center;
  position: relative;
  flex: 1;
  z-index: 3;
}

.circle {
   width: 40px;
  height: 40px;
  background: #fff; /* الخلفية بيضاء عشان يظهر البوردر */
  border-top: 2px solid  #993300 !important;
  border-bottom: 2px solid  #058197 !important ;
  border-left: 2px solid #058197 !important;
  border-right: 2px solid #51CEE4 !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  margin: 0 auto;
  position: relative;
  z-index: 2; /* الرقم يفضل فوق الخط */
    
}

.circle.active {
  background-color: #FF5F00;
  border-color: FF5F00;
  color: #fff;
}

/* الخط بين الدواير */
.connector {
  position: absolute;
  top: 20px;
  left: -36%;
  width: 100%;
  height: 6px;
  background: #e6e6e6;
  z-index: 1;
}

.connector.active {
  background-color: #FF5F00;
}

.swords {
  width: 30px;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  
}

.marker {
  width: 50px;
  position: absolute;
  top: -50px;
  transition: left 0.6s ease-in-out;
  z-index: 3;
}

/* حركة الجامب */
.marker.jump {
  animation: jumpAnim 0.4s ease;
  transition: ease 1s;
  
}

@keyframes jumpAnim {
  0%   { transform: translateY(0); }
  30%  { transform: translateY(-20px); } /* يطلع لفوق */
  60%  { transform: translateY(-10); }     /* ينزل */
  100% { transform: translateY(0); }
}





/* فلتر + الإنپوت */
.filter-container {
  width: 100%; /* ياخد عرض كامل */
  display: flex;
  justify-content: center; /* يخليهم في النص */
  gap: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.filter-container input {
  flex: 1; /* ياخد أكبر مساحة */
  max-width: 300px; /* عرض ثابت معقول */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.filter-container button {
  padding: 10px 20px;
  border: none;
  background: #444;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
}

.filter-container button:hover {
  background: #666;
}

/* الأوبشنز */
.options {
  width: 100%; /* ياخد عرض الشاشة */
  display: flex;
  justify-content: center; /* في النص */
  gap: 15px;
  flex-wrap: wrap; /* عشان لو كتير ينزلوا تحت */
  margin-top: 10px;
}

.option {
  padding: 10px 20px;
  background: #eee;
  border: 1px solid #ccc;
  color: #000 !important;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s;
  min-width: 100px;
  text-align: center;
}

.option:hover {
  background: #ddd;
}
