/* -------------------------- interactions panel --------------------------*/
:host ::ng-deep .interactions-panel {
  padding-top: 20px;
  background-color: transparent !important;
  border: transparent !important;
}

/* -------------------------- interaction type --------------------------*/
:host ::ng-deep .interaction-type {
  position: absolute;
  top: -15px;
  right: -15px;
}

:host ::ng-deep .interaction-type-name {
  padding-right: 30px;
}
