<div class="container-notes">
  <div class="notes-header">
    <h3 class="notes-title">الملفات</h3>
    <div class="note-form">
      <form [formGroup]="fileForm" ngSubmit="onFileSubmit()">
        <input
          type="file"
          name="files"
          (change)="onFileSelected($event)"
          #fileInput
          multiple
        />
        <app-button
          [buttonText]="'اضافة ملف'"
          [icon]="'bi bi-cloud-upload'"
          (buttonClick)="triggerFileInput()"
        ></app-button>
      </form>
    </div>
  </div>

  <div class="notes-list">
    <div
      class="note-item file-item"
      *ngFor="let file of filesList; trackBy: trackByFileId"
    >
      <div class="file-header">
        <div class="file-icon-name">
          <i class="bi" [ngClass]="getFileIcon(file.fileType)"></i>
          <div class="file-info">
            <p class="file-name">{{ file.name }}</p>
            <span class="file-meta">
              {{ file.fileSize }} • {{ file.uploadedBy }}
            </span>
          </div>
        </div>
        <div class="file-actions">
          <i class="bi bi-download download-icon" title="تحميل"></i>
          <!-- <i
            class="bi bi-pencil-square edit-icon"
            title="تعديل"
            (click)="onEditFile(file.id)"
          ></i> -->
        </div>
      </div>
      <span class="file-date">{{
        file.dateTime | date : "dd/MM/yyyy HH:mm"
      }}</span>
    </div>
    <div *ngIf="filesList.length === 0 && !isLoading" class="no-notes">
      <p>لا توجد ملفات</p>
    </div>
  </div>
</div>
