@if(!isLoading()){
  <section class="dashboard-info">
  <!-- page header -->
  <app-page-header
    [title]="pageTitle"
    [breadcrumb]="breadcrumb"
  ></app-page-header>
  <!-- Content (shown when data is loaded) -->
  <div>
    <app-count-card [stats]="stats()"></app-count-card>
    <!-- Sales Charts -->
    <app-sales-charts></app-sales-charts>

    <!-- best 3 Sales -->
    <app-top-employee-card
      [topPeople]="topSalespeople()"
      [title]="'Best 3 Sales'"
      [currency]="'ج.م'"
    ></app-top-employee-card>
  </div>
</section>
}
