.dashboard-info {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  display: grid;
  background-size: cover;
  background-image: none;
  background-repeat: no-repeat;
}

::ng-deep .stat-card:nth-child(3) p,
::ng-deep .stat-card:nth-child(4) p {
  font-size: 12px !important;
}
