<div class="container-notes">
  <div class="notes-header">
    <h3 class="notes-title">الملاحظات</h3>
  </div>
  <div class="note-form">
    <form [formGroup]="noteForm" (ngSubmit)="onNoteSubmit()">
      <textarea formControlName="note" placeholder="اكتب الملاحظة"></textarea>
      <input
        type="datetime-local"
        name="date-time"
        id="date-time"
        formControlName="dateTime"
        columns="3"
      />
      <app-button
        [buttonText]="' اضافة ملحوظة '"
        [icon]="'bi bi-save'"
        [type]="'submit'"
      ></app-button>
    </form>
  </div>
  <div class="notes-list">
    <div
      class="note-item"
      *ngFor="let note of notesList; trackBy: trackByNoteId"
    >
      <div class="notes-list-header">
        <i
          class="bi bi-pencil-square edit-icon"
          (click)="onEditNote(note.id)"
        ></i>
      </div>
      <p>{{ note.note }}</p>
      <span>{{ note.dateTime | date : "dd/MM/yyyy HH:mm" }}</span>
    </div>
    <div *ngIf="notesList.length === 0" class="no-notes">
      <p>لا توجد ملاحظات</p>
    </div>
  </div>
</div>
