.notes-list-header {
  justify-content: space-between !important;
}
.notes-list-header .status-call {
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  background-color: var(--secondary-color);
  color: var(--white-color);
}
