<div class="container-notes">
  <div class="notes-header">
    <h3 class="notes-title">المكالمات</h3>
  </div>
  <!-- <div class="note-form">
    <form [formGroup]="callForm" (ngSubmit)="onCallSubmit()">
      <textarea formControlName="note" placeholder="اكتب الملاحظة"></textarea>
      <input
        type="datetime-local"
        name="date-time"
        id="date-time"
        formControlName="dateTime"
        columns="3"
      />
      <app-button
        [buttonText]="' اضافة ملحوظة '"
        [icon]="'bi bi-save'"
        [type]="'submit'"
      ></app-button>
    </form>
  </div> -->
  <div class="notes-list">
    <div
      class="note-item"
      *ngFor="let call of callList; trackBy: trackByCallId"
    >
      <div class="notes-list-header">
        <span class="status-call">{{ call.status }}</span>
        <i
          class="bi bi-pencil-square edit-icon"
          (click)="onEditCall(call.id)"
        ></i>
      </div>
      <p>{{ call.note }}</p>
      <span>{{ call.dateTime | date : "dd/MM/yyyy HH:mm" }}</span>
    </div>
    <div *ngIf="callList.length === 0" class="no-notes">
      <p>لا توجد مكالمات</p>
    </div>
  </div>
</div>
