.content {
  display: flex;
  gap: 20px;
}
.left-section {
  flex: 0 0 20%;
  max-width: 20%;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: all 0.3s ease;
  animation: cardFadeIn 1.5s ease-out forwards;
  box-shadow: 0 0 10px 0 var(--primary-color);
  background: var(--bg-light);
}

@keyframes cardFadeIn {
  0% {
    opacity: 0;
    transform: perspective(600px) translateX(500px);
  }
  100% {
    opacity: 1;
    transform: perspective(600px) translateX(0);
  }
}
.left-section table tr {
  cursor: pointer;
  transition: background 0.2s ease, border-color 0.2s ease;
}
.left-section table tr.active {
  background: linear-gradient(
    90deg,
    rgba(16, 185, 129, 0.25),
    rgba(59, 130, 246, 0.25)
  ) !important;
  border-right: 4px solid var(--primary-color);
}
.no-summary-data {
  text-align: center;
  padding: 5px;
  color: var(--white-color) !important;
}

.right-section {
  flex: 1;
}

/* ============================== responsive ============================== */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .left-section {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }
  .left-section {
    max-width: 100%;
  }
}
